# Folders
bin/
build/
.idea/
.vscode/
tmp/

# Files
*.log
.gh-docker-token
.env
coverage.out
cover.html
TODO.md

# assuming the root folder you want to ignore is 'application'
service/**

# Explicitly track certain content nested in the 'application' folder:
!service/discord/
!service/discord/**

!service/mail/
!service/mail/**

!service/ntfy/
!service/ntfy/**

!service/telegram/
!service/telegram/**

!service/slack/
!service/slack/**
